@import 'variables';

.header-top {
    background-color: $clr-primary;
    height: 50px;
    color: #fff;

    a {
        color: #fff;
    }

    .dropdown-menu {
        a {
            color: #161e2d;
        }
    }

    .top-bar {
        width: 100%;
        color: white;
        line-height: 50px;

        .top-bar-right {
            #language-switcher, #language-switcher-mobile {
                position: relative;

                .language-switcher-dropdown {
                    margin-top: -1px;
                }

                a {
                    img {
                        margin-bottom: 3px;
                    }
                }

                .dropdown-menu {
                    transform: translate3d(0.5px, 51px, 0px) !important;

                    .dropdown-item {
                        line-height: 30px;
                        font-size: 13px;
                    }
                }

                .dropdown {
                    button {
                        margin-bottom: 4px !important;
                    }
                }

                .language-switcher-list {
                    margin-right: 10px;

                    a {
                        &:hover {
                            color: var(--secondary-color) !important;
                        }
                    }
                }
            }

            #language-switcher-mobile {
                display: none;
            }

            .currency-switch {
                .dropdown-menu {
                    transform: translate3d(-113px, 51px, 0px);

                    .dropdown-item {
                        line-height: 30px;
                        font-size: 13px;
                    }
                }

                .btn-currency {
                    margin-left: 10px;
                }
            }
        }

        .top-bar-left {
            .email {
                position: relative;
                padding-left: 20px;
            }

            .phone + .email {
                &:before {
                    content: "";
                    border-right: 1px dashed white;
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    top: 15px;
                    left: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-top {
        .top-bar-left {
            .email {
                display: none;
            }
        }

        .language-switcher-dropdown {
            &:before {
                width: unset !important;
                height: unset !important;
            }
        }

        .language-switcher-list {
            &:before {
                width: unset !important;
                height: unset !important;
            }
        }

        #language-switcher {
            display: none;
        }

        #language-switcher-mobile {
            display: block !important;
        }
    }
}

.sticky-wrapper {
    .sticky-header.is-fixed {
        margin-bottom: -50px;
    }
}

.companies {
    .companies-wrap {
        position: relative;
    }
}

.twm-employer-grid-style1, .twm-employer-list-style1 {
    .twm-right-content {
        width: unset;

        .btn-open-job-company {
            background-color: #e0eeff;
            padding: 10px;
            border-radius: 10px;
            color: $clr-primary;
            display: inline-block;
        }
    }
}

.option-company-mobile, .option-candidate-mobile {
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 20px;
        margin-top: 90px;
        transition: 0.5s;

        .wt-select-bar-2 {
            width: 100% !important;
        }

        .option-title {
            margin-left: 15px;
            font-size: 16px;
            font-weight: 600;
        }

        .header-sidebar {
            .title {
                font-weight: 600;
                margin-left: 200px;
                font-size: 20px;
            }

            border-bottom: 1px solid #f4f4f4;
        }

        .body-sidebar {
            margin-top: 10px;
        }

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;

            &:hover {
                color: $clr-primary;
            }
        }

        .btn-close-sidebar {
            position: absolute;
            top: 7px;
            left: -45px;
            margin-left: 50px;
            color: black;
        }
    }

    #main {
        transition: margin-left .5s;

        .btn-open-sidebar {
            background-color: $clr-primary;
            color: #f0f6fe;
        }
    }

    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;

            a {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .option-company-mobile {
        display: block !important;
    }

    .option-candidate-mobile {
        display: block !important;
    }

    .option-company {
        display: none !important;
    }

    .option-candidate {
        display: none !important;
    }

    .companies {
        .company-option-wrap {
            margin-bottom: unset;
        }
    }
}

.twm-employer-grid-style1 {
    .twm-media {
        img {
            display: unset;
        }
    }
}

.twm-candidates-list-wrap {
    position: relative;
}

.page-loading {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 300px;
    z-index: 999;
}

.page-loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $clr-primary transparent transparent transparent;
    border-radius: 50%;
    animation: page-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.page-loading div:nth-child(1) {
    animation-delay: -0.45s;
}

.page-loading div:nth-child(2) {
    animation-delay: -0.3s;
}

.page-loading div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes page-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-backdrop {
    position: absolute;
    background-color: grey;
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.twm-home1-banner-section {
    padding-top: 115px;
}

.twm-home2-banner-section {
    padding-top: 199px;
}

.twm-home3-banner-section {
    padding-top: 150px;
}

.twm-job-categories-section {
    overflow: hidden;

    .job-categories-style1 {
        .owl-carousel {
            .owl-stage-outer {
                display: initial;
            }
        }
    }
}

.twm-media {
    img {
        width: 100%;
    }
}

.twm-blog-post-1-outer {
    .wt-post-media {
        .post-media-style-1 {
            height: 200px;
        }

        img {
            width: 600px;
            height: 250px;
        }
    }
}

.twm-blog-post-2-outer {
    .wt-post-media {
        height: 250px;
    }
}

.twm-jobs-list-style1 {
    .twm-mid-content {
        width: 75%;
    }
}

.twm-sidebar-ele-filter {
    ul {
        max-height: 250px;
        overflow: auto;
        padding: 0 5px;
    }
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffffd1;
    z-index: 2;
    display: none;

    .loading__inner {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        .loading__content {
            left: 50%;
            position: absolute;
            top: 15%;
            transform: translate(-50%, -50%);

            .spinner {
                width: 75px;
                height: 75px;
                display: inline-block;
                border-width: 2px;
                border-color: rgba(255, 255, 255, 0.05);
                border-top-color: $clr-primary;
                animation: spin 1s infinite linear;
                border-radius: 100%;
                border-style: solid;
            }

            @keyframes spin {
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.jobs-container {
    .job-map-item {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        img {
            max-width: 70px;
        }

        h4 {
            margin-bottom: 0;
        }

        h5 {
            color: $clr-primary;
        }
    }

    #map {
        height: calc(100vh - 300px);

        .leaflet-div-icon {
            display: inline-block;
            white-space: nowrap;
            color: #fff;
            background-color: $clr-primary;
            padding: 2px 5px;
            border-radius: 3px;
            box-shadow: 0 0 5px #333;
            text-align: center;
            font-weight: bold;
            width: auto !important;
        }
    }

    @media (max-width: 991px) {
        .twm-advertisment {
            display: none;
        }

        .side-bar-filter {
            position: absolute;
            right: 0;
            top: 100%;

            &.active {
                height: 100%;
                left: auto;
                overflow-y: auto;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 999;

                .side-bar {
                    opacity: 1;
                    transform: translateX(0);
                    visibility: visible;
                }
            }

            .backdrop {
                background: hsla(0, 0%, 84%, 0.44);
                bottom: 0;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .side-bar {
                left: 0;
                right: auto;
                transform: translateX(-100%);
                background-color: #fff;
                height: 100%;
                overflow-y: auto;
                position: fixed;
                width: 82%;
                z-index: 999;
                border-radius: 0;
            }
        }
    }

    .btn-open-filter {
        background-color: $clr-primary;
        color: #fff;

        &:focus {
            color: #fff;
        }
    }

    .btn-close-filter {
        top: 5px;
        right: 10px;
        text-decoration: none;
    }

    .wt-select-bar-2 + .select2-container {
        .select2-selection {
            margin-left: 0 !important;
        }
    }

    .twm-filter-select {
        justify-content: space-between;
    }
}

.account-setting {
    .tagify__input {
        line-height: 60px;
        font-size: 14px;
        padding: unset;
        margin: unset;
    }

    .tagify {
        border: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
}

#applied_jobs_table {
    .twm-table-controls {
        .twm-DT-controls-icon {
            margin-left: unset;
        }
    }
}

.job-seeker-education {
    .box-timeline {
        margin-top: 50px;
    }

    .timeline-year {
        position: relative;
        text-align: center;

        .year {
            padding: 5px 20px;
            background-color: #e0eeff;
            color: $clr-primary;
            border-radius: 30px;
        }

        &:before {
            border-right: 1px solid #dee2e6;
            content: "";
            height: 100%;
            position: absolute;
            right: 10px;
            top: 0;
            width: 1px;
        }
    }

    .timeline-info {
        .timeline-actions {
            display: flex;
            align-items: center;

            .btn-action {
                background-color: #e0eeff;
                color: $clr-primary;
                font-size: 16px;
                border-radius: 10px;
                padding: 8px 15px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                z-index: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .job-seeker-education {
        .timeline-year {
            margin-bottom: 20px;
            text-align: left;

            &:before {
                border-right: none;
            }
        }

        .box-timeline {
            margin-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #dee2e6;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        .timeline-actions {
            margin-top: 10px;
        }
    }
}

.title-form-education {
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.overview-wrap {
    padding: 15px 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;

    .title {
        padding-bottom: 15px;
        border-bottom: 1px solid #dee2e6;
    }
}

.review-listing {
    img {
        width: 4rem;
        height: 4rem;
    }

    .review-item:not(:first-child) {
        margin-top: 46px;
    }

    .review-item:not(:first-child) {
        margin-top: 46px;
    }

    .review-pagination {
        li {
            a {

                font-size: 16px;
                background-color: #e0e6f7;
                color: #A0ABB8;
                width: 48px;
                font-weight: 500;
                text-align: center;
                height: 48px;
                border-radius: 50%;
            }

            a.active {
                background-color: $clr-primary;
                color: #fff;
            }
        }

        .paginations {
            .pager {
                a.pager-prev {
                    margin-right: unset;
                }
            }
        }

        li:not(:first-child) {
            a {
                margin-left: 10px;
            }
        }
    }
}

.job-tags.tw-sidebar-tags-wrap {
    .tagcloud {
        span {
            padding: 5px 15px;
            margin-top: 10px;
            margin-right: 10px;
            display: inline-block;
            color: $clr-primary;
            border-radius: 10px;
            font-size: 14px;
            background-color: #f0f6fe;

            &:hover {
                background-color: $clr-primary;
                color: #fff;
            }
        }
    }
}

form.auth-form {
    .form-control {
        background-color: #f0f6fe;
    }

    .auth-input-icon {
        top: 12px;
    }
}

.newsletter-minimal-form {
    .invalid-feedback {
        color: #fff;
    }
}

.newsletter-main-form {
    .invalid-feedback {
        position: absolute;
        bottom: -30px;
    }
}

.newsletter-popup-content {
    .btn.btn-primary {
        background-color: var(--primary-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        display: inline-table;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        overflow: hidden;
        padding: 15px 30px;
        position: relative;
        color: transparent !important;
        text-shadow: 0 0 0 #fff, 400px 0 0 #fff;
        transition: all .3s ease !important;

        &:hover {
            background-color: #171d28;
            text-shadow: -400px 0 0 #fff, 0 0 0 #fff;
        }
    }
}

.site-header {
    .logo-header {
        .logo-header-inner {
            img {
                max-height: 45px;
                vertical-align: middle;
                // margin-top: 5px;
            }
        }
    }

    .header-top {
        background-color: var(--top-header-background-color);
        color: var(--top-header-background-color);

        a {
            color: var(--top-header-text-color);
        }

        .top-bar .top-bar-left .phone + .email:before {
            border-color: var(--top-header-text-color);
        }
    }

    .main-bar-wraper {
        .main-bar {
            background: #ffffff;
            color: var(--main-header-text-color);
            top: 0;
        }
    }
}

.twm-jobs-grid-style1 {
    .twm-media {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.bb-social-sharing {
    display: inline-flex;
    gap: 0.25rem;

    .bb-social-sharing__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        line-height: 36px;
        text-align: center;
        border: 1px solid #e6e7e8;
        border-radius: 50%;

        a {
            line-height: 16px;
            color: var(--primary-color);
        }

        &:last-child {
            margin-inline-end: 0;
        }

        &:hover {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: #fff;

            a, button {
                color: #fff;
            }
        }

        button {
            border: none;
            outline: none;
            background: transparent;
            color: var(--primary-color);

            &:hover {
                cursor: pointer;
            }
        }

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}

.border-primary {
    border-color: var(--primary-color) !important;
}

#sidebar-offcanvas {
    .language-switcher-dropdown {
        margin-bottom: 1rem;
    }

    .sidebar-social-icons {
        margin-top: 1.5rem;
        display: flex;
        gap: 0.5rem;

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 38px;
            height: 38px;
            line-height: 36px;
            text-align: center;
            border: 1px solid #e6e7e8;
            border-radius: 50%;

            &:hover {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: #fff;
            }

            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }
}

.site-header {
    .header-nav-btn-section {
        .twm-nav-btn-right {
            .twm-nav-post-a-job.twm-nav-btn-offcanvas i {
                padding-right: 0;
            }
        }
    }
}

.show-admin-bar {
    .site-header {
        .main-bar-wraper.is-fixed {
            .main-bar {
                top: 40px;
            }
        }
    }

    .mobile-sider-drawer-menu {
        .offcanvas {
            top: 40px;
        }
    }
}

.button-loading {
    svg {
        color: transparent !important;
    }
}

.favorite-icon {
    margin-inline-start: 10px;

    a {
        &.button-loading:before {
            animation: button-loading-spinner 1s linear infinite;
            border-color: #767373;
            border-bottom-color: transparent;
        }
    }

    &.bookmark-post {
        a {
            background-color: var(--primary-color);

            &.button-loading:before {
                animation: button-loading-spinner 1s linear infinite;
                border-color: #fff;
                border-bottom-color: transparent;
            }

            svg {
                color: #fff;
            }
        }
    }

    a {
        align-items: center;
        background-color: #f7f7f7;
        border: 1px solid #e4e4e4;
        border-radius: 50%;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;
    }
}

.twm-jobs-category {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    color: #fff;
}

.account-setting a {
    color: var(--primary-color);
}

.section-content {
    .nav.nav-tabs {
        list-style: none;
    }
}
