$heading-font: var(--primary-font);
$common-font: var(--primary-font);
$poppins-font: var(--secondary-font);
$common-font-size: 15px;
$common-font-color: #3c3c3c;
$clr-black: #000;
$clr-dark: #17171d;
$clr-secondry: #171d28;
$clr-bg-light: #f9f9f9;
$clr-white: #fff;
$clr-primary: var(--primary-color);
$clr-orange: #fd7e14;
$clr-gray: #f9fcff;
$clr-light-purple: #f0f6fe;
$transition: .5s all ease;
$outline-none: 0px none;
$inherit: inherit;
$none: none;
